OtherComponents/MDWSvistalayer/MDWS Source/mdo/mdo/Web References/cds/cds-service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://client.cds.med.va.gov" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://client.cds.med.va.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="updateClinicalDataResponse">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createClinicalDataResponse">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="appendClinicalDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalDataResponse">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="isAliveResponse">
    <wsdl:part name="out" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="readClinicalData1Request">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createClinicalDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="readClinicalDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="readClinicalData1Response">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="readClinicalDataResponse">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="isAliveRequest" />
  <wsdl:message name="appendClinicalDataResponse">
    <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateClinicalDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ClinicalDataServiceSynchronousInterfacePortType">
    <wsdl:operation name="deleteClinicalData">
      <wsdl:input name="deleteClinicalDataRequest" message="tns:deleteClinicalDataRequest" />
      <wsdl:output name="deleteClinicalDataResponse" message="tns:deleteClinicalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="createClinicalData">
      <wsdl:input name="createClinicalDataRequest" message="tns:createClinicalDataRequest" />
      <wsdl:output name="createClinicalDataResponse" message="tns:createClinicalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="readClinicalData1">
      <wsdl:input name="readClinicalData1Request" message="tns:readClinicalData1Request" />
      <wsdl:output name="readClinicalData1Response" message="tns:readClinicalData1Response" />
    </wsdl:operation>
    <wsdl:operation name="appendClinicalData">
      <wsdl:input name="appendClinicalDataRequest" message="tns:appendClinicalDataRequest" />
      <wsdl:output name="appendClinicalDataResponse" message="tns:appendClinicalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="readClinicalData">
      <wsdl:input name="readClinicalDataRequest" message="tns:readClinicalDataRequest" />
      <wsdl:output name="readClinicalDataResponse" message="tns:readClinicalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="isAlive">
      <wsdl:input name="isAliveRequest" message="tns:isAliveRequest" />
      <wsdl:output name="isAliveResponse" message="tns:isAliveResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateClinicalData">
      <wsdl:input name="updateClinicalDataRequest" message="tns:updateClinicalDataRequest" />
      <wsdl:output name="updateClinicalDataResponse" message="tns:updateClinicalDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClinicalDataServiceSynchronousInterfaceHttpBinding" type="tns:ClinicalDataServiceSynchronousInterfacePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="deleteClinicalData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteClinicalDataRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="deleteClinicalDataResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createClinicalData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createClinicalDataRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="createClinicalDataResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readClinicalData1">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="readClinicalData1Request">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="readClinicalData1Response">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appendClinicalData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="appendClinicalDataRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="appendClinicalDataResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readClinicalData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="readClinicalDataRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="readClinicalDataResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAlive">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="isAliveRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="isAliveResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClinicalData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateClinicalDataRequest">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:input>
      <wsdl:output name="updateClinicalDataResponse">
        <wsdlsoap:body use="literal" namespace="http://client.cds.med.va.gov" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClinicalDataServiceSynchronousInterface">
    <wsdl:port name="ClinicalDataServiceSynchronousInterfaceHttpPort" binding="tns:ClinicalDataServiceSynchronousInterfaceHttpBinding">
      <wsdlsoap:address location="http://vahdrsvwls01.aac.va.gov:7051/cds-wsclient/cds-service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>